.ChainButton {
    background-color:#00c8ff;
    box-shadow:0 5px 25px rgba(97,218,250,.5);
    border: 10%;
    font-size:30px;
    position:fixed;
    bottom:24px;
    left:24px;
    font-weight:700;
    color:#000000;
    display:flex;
    justify-content:center;
    align-items:center;
}